Source: powerpc-wrs-vxworks-gcc
Section: devel
Priority: extra
Maintainer: Robert Blair Mason Jr. <rbmj@verizon.net>
Build-Depends: debhelper (>= 8.0.0), zlib1g-dev, wrs-headers-installer, powerpc-wrs-vxworks-binutils
Standards-Version: 3.9.3
Homepage: http://gcc.gnu.org

Package: powerpc-wrs-vxworks-gcc
Architecture: any
Pre-Depends: wrs-headers
Depends: ${shlibs:Depends}, powerpc-wrs-vxworks-binutils, binutils-dev
Description: GNU Cross Compiler to powerpc-wrs-vxworks
 GCC, the GNU Compiler Collection, is a GPL compiler and is a part of
 the GNU project.  This package provides a cross compilation environment
 targeting powerpc-wrs-vxworks.

