#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRCDIR="$(CURDIR)"
BUILDDIR="$(CURDIR)/../build-gcc-powerpc-wrs-vxworks"

HOST=$(shell cat ../host)
BUILD=$(shell ./config.guess)
TARGET="powerpc-wrs-vxworks"

#make sure it uses these options for target libraries
TGTFLAGS="-mstrict-align -mlongcall"

%:
	dh $@ 

override_dh_auto_configure:
	[ -d $(BUILDDIR) ] || mkdir $(BUILDDIR)
	cd $(BUILDDIR) ; \
	$(SRCDIR)/configure \
		--prefix=/usr \
		--build=$(BUILD) \
		--host=$(HOST) \
		--target=$(TARGET) \
		--with-gnu-as \
		--with-gnu-ld \
		--with-headers \
		--disable-libssp \
		--disable-multilib \
		--with-float=hard \
		--enable-languages=c,c++ \
		--enable-threads=vxworks \
		--enable-libstdcxx \
		--without-gconv \
		--disable-libgomp \
		--disable-libmudflap \
		--with-cpu-PPC603 \
		--disable-symvers \
		CFLAGS_FOR_TARGET=$(TGTFLAGS) \
		CXXFLAGS_FOR_TARGET=$(TGTFLAGS) ; \

override_dh_auto_build:
	cd $(BUILDDIR) ; \
	make -j4

override_dh_auto_clean:
	[ -d $(BUILDDIR) ] || mkdir $(BUILDDIR)
	cd $(BUILDDIR) ; \
	[ ! -f Makefile ] || make distclean

override_dh_auto_install:
	cd $(BUILDDIR) ; \
	make install DESTDIR=$(SRCDIR)/debian/gcc-powerpc-wrs-vxworks
	#remove conflicts with other packages.
	rm -rf $(SRCDIR)/debian/gcc-powerpc-wrs-vxworks/usr/share/info
	rm -rf $(SRCDIR)/debian/gcc-powerpc-wrs-vxworks/usr/share/man/man7
	rm -rf $(SRCDIR)/debian/gcc-powerpc-wrs-vxworks/usr/lib/libiberty.a

override_dh_strip:
	# do not strip!

