#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRCDIR="$(CURDIR)"
BUILDDIR="$(CURDIR)/../powerpc-wrs-vxworks-gcc-build"

%:
	dh $@ 

override_dh_auto_configure:
	[ -d $(BUILDDIR) ] || mkdir $(BUILDDIR)
	cd $(BUILDDIR) ; \
	$(SRCDIR)/configure \
		--prefix=/usr \
		--target=powerpc-wrs-vxworks \
		--with-gnu-as \
		--with-gnu-ld \
		--with-headers \
		--disable-libssp \
		--disable-multilib \
		--with-float=hard \
		--enable-languages=c,c++ \
		--enable-threads=vxworks \
		--enable-libstdcxx \
		--without-gconv \
		--disable-libgomp \
		--disable-nls \
		--disable-libmudflap \
		--with-cpu-PPC603 \
		--disable-symvers ; \

override_dh_auto_build:
	cd $(BUILDDIR) ; \
	make -j4

override_dh_auto_clean:
	[ -d $(BUILDDIR) ] || mkdir $(BUILDDIR)
	cd $(BUILDDIR) ; \
	[ ! -f Makefile ] || make distclean

override_dh_auto_install:
	cd $(BUILDDIR) ; \
	make install DESTDIR=$(SRCDIR)/debian/powerpc-wrs-vxworks-gcc
	#remove conflicts with other packages.
	rm -rf $(SRCDIR)/debian/powerpc-wrs-vxworks-gcc/usr/share/info
	rm -rf $(SRCDIR)/debian/powerpc-wrs-vxworks-gcc/usr/share/man/man7
	rm -rf $(SRCDIR)/debian/powerpc-wrs-vxworks-gcc/usr/lib/libiberty.a

override_dh_strip:
	# do not strip!

